@import url('https://fonts.googleapis.com/css?family=Raleway');

html,h1,h2,h3,h4,h5,h6,a{
 font-family: "Raleway";
}

footer{
	height: 100px;
	border: solid 1px black;
	background:#063F9B;
	color: #f4f4f4;
	display:flex;
	justify-content: center;
	align-items: center;
}
#mapid { height: 300px; }

.img-title {
	font-family: 'Montserrat', sans-serif;
}
.navbar {
 background:#063F9B;
 color: #f4f4f4;
}

.nav-link , .navbar-brand {
 color: #f4f4f4;
 cursor: pointer;
}

.nav-link {
 margin-right: 1em !important;
}

.nav-link:hover {
 background: #f4f4f4;
 color: #063F9B;
}

.navbar-collapse {
 justify-content: flex-end;
}

.navbar-toggler {
  background:#063F9B !important;
}

#particles-js {
  width: 50%;
  /* height: 200; */
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(123,123,218,1) 35%, rgba(0,212,255,1) 100%);
}


.description {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}
.description h1 {
 color: #fff;
}
/* ABOUT */

#about{
 margin: 4em 0;
 padding: 1em;
 position: relative;
}
#about h1{
 color:#063F9B;
 margin: 2em;
}
#about-img{
 height: 50%;
 width: 50%;
 border-radius: 50%
}

#portfolio{
 margin: 4em 0;
 position: relative;
}
#portfolio h1{
 color:#063F9B;
 margin: 2em;
}
#portfolio img{
  height: 15rem;
  width: 100%;
  margin: 1em;
}

.blog{
 margin: 4em 0;
 position: relative;
}
.blog h1{
 color:#063F9B;
 margin: 2em;
}
.blog .card{
 box-shadow: 0 0 20px #ccc;
}
.blog .card img{
 width: 100%;
 height: 12em;
}
.blog .card-title{
 color:#063F9B;

}
.blog .card-body{
 padding: 1em;
}

.team{
 margin: 4em 0;
 position: relative;
}
.team h1{
 color:#063F9B;
 margin: 2em;
}
.team .item{
 position: relative;
}
.team .des{
 background: #063F9B;
 color: #fff;
 text-align: center;
 border-bottom-left-radius: 93%;
 transition:.3s ease-in-out;
}

.team .item:hover .des{
 height: 100%;
 background:#f973007d;
 position: absolute;
 width: 89%;
 padding: 5em;
 top: 0;
 border-bottom-left-radius: 0;
}
#contact {
	background: #fcfcfc;
}
.contact-form{
 margin: 6em 0;
 position: relative;
}
.contact-form h1{
 padding:2em 1px;
 color: #063F9B;
}
.contact-form .right{
 max-width: 600px;
}
.contact-form .right .btn-secondary{
 background:  #063F9B;
 color: #fff;
 border:0;
}
.contact-form .right .form-control::placeholder{
 color: #888;
 font-size: 16px;
}

#selling-points {
	z-index: -1;
	width: 100%;
	padding-bottom: 5%;
	padding-top: 5%;
	background: #fcfcfc;
}

.selling-point {
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
}

.selling-point h3 {
	color: #4D4D4D;
	font-weight: 700;
	font-size: 1.6vw;
}

.selling-point img {
	width: 25%;
	margin-bottom: 8%;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  width: 25%;
}


.skill-list {
	list-style-type: none;
}

.skill-list li {
	border-radius: 4px;
	background-color: #7877f9;
	padding: 5px 8px 5px 8px;
	margin: 5px 10px 5px 0px;
	display: inline-block;
}


.c1 {
	order: 1;
	text-align: right;
	font-size: 30px;
	margin: 0 auto;

}

.c2 {
	order: 2;
	text-align: justify;
	font-size: 16px;
	margin: 0 auto;
}

.c3{
	order: 3;
	text-align:justify;  
	font-size: 16px;
	margin: 0 auto;
}

.c4 {
	order: 4;
}

.c5 {
	margin-top: 20px;
	order: 5;
}

.c6 {
	margin-top: 20px;
	order: 6;
}

.contact-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #39399C;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 15px;
	margin-bottom: 5px;
}

#header-background {
	z-index: 1;
	width: 100%;
	height: 700px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2af35+32,f5753a+100 */
	background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(123,123,218,1) 35%, rgba(0,212,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(123,123,218,1) 35%, rgba(0,212,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(123,123,218,1) 35%, rgba(0,212,255,1) 100%);; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2af35', endColorstr='#f5753a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.header-text h1 {
	font-weight: 900;
	font-size: 5vw;
}

.header-text span {
	font-weight: 300;
	font-size: 6vw;
}

.header-text h2 {
	font-weight: 300;
	font-size: 1.8vw;
}

.header-buttons {
	margin-top: 40px;
}
.header-buttons a{
	margin-left: 40px;
}

.global-container {
	max-width: 1300px;
	margin: 0 auto;
}

.jumbotron {
	position: relative;
	left: 22%;
	top: 300px;
	width: 50%;
	text-align: right;
	color: white;
}

.button-transparent {
	background-color: transparent;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
    text-transform: uppercase;
    padding: 2% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}

.button-colored {
	background-color: #7877f9;
    border: none;
    border-radius: 25px;
    color: white;
    text-transform: uppercase;
    padding: 2% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}

/* footer {
	position:absolute;
	bottom:0;
	width:100%;
	height:60px;   /* Height of the footer */
 } */